<h1 class="sub-header">Riepilogo</h1>

<div class="mt-5">
  <h2>Strategie attive</h2>
  <table class="table-responsive">
    <tr>
      <th class="text-center">Stato</th>
      <th>Nome</th>
      <th class="hidden-column">Scambio</th>
      <th class="hidden-column">BTC iniziali</th>
      <th class="hidden-column">BTC attuali</th>
      <th class="hidden-column">Buy Price</th>
      <th class="hidden-column">Sell Price</th>
      <th >Dal</th>
      <th>STOP</th>
    </tr>
    <tr   *ngFor="let str of activeStrategies; let $index =index; ">
      <td class="text-center">
        <span (click)="openConfirmModal($index)" class="d-sm-block d-md-none">INFO</span>
        <span class="d-none d-lg-block">
        <span [ngClass]="{'run': str.is_active == 1 ,'stop':str.is_active == 0}"  class="dot"></span>
      </span>
      </td>
      <td>{{str.name}}</td>
      <td class="hidden-column">{{str.coin_pair}}</td>
      <td class="hidden-column">{{str.initial_budget}}</td>
      <td class="hidden-column">{{str.current_budget}}</td>
      <td class="hidden-column">{{str.buy_price}}</td>
      <td class="hidden-column">{{str.sell_price}}</td>
      <td >{{str.created_at}}</td>
      <td><button (click)="openStopModal($index)" class="btn btn-danger">STOP</button></td>
    </tr>
  </table>
  <modal id="edit-modal" #detailsModal>
    <div class="app-modal-header"><h3>Dettaggli: {{checkMobileData.id}}</h3></div>
    <div class="app-modal-body">
      <p>{{checkMobileData.name}}</p>
      <p>{{checkMobileData.coin_pair}}</p>
      <p>{{checkMobileData.initial_budget}}</p>
      <p>{{checkMobileData.current_budget}}</p>
      <p>{{checkMobileData.buy_price}}</p>
      <p>{{checkMobileData.sell_price}}</p>
      <p>{{checkMobileData.created_at}}</p>
    </div>
  </modal>
  <modal id="stop-modal" #stopModal>
      <div class="app-modal-header"><h3>STOP {{stopData.id}}</h3></div>
      <div class="app-modal-body">
        <div class="text-center">
          <h2>Stai fermando {{stopData.name}}</h2>
          <h2>Conferma !!</h2>
        </div>
        <button class="btn btn-danger float-left" (click)="closeStop()">CHIUDI</button>
        <button class="btn start-btn float-right" (click)="closeStop()">STOP </button>
      </div>
  </modal>
</div>
