.arrow{
  z-index: 10;
  position: relative;
  background-color: orange;
  border-radius: 16px;
  padding: 5px;
  border: 1px solid white;
  width: 34px;
  cursor:pointer;
  text-align: center;
  &.left{
    float: left;
    top: 50px;
    margin-right: -25px;
  }
  &.right{
    float: right;
    top: -92px;
    right: -2px;
  }
}

.coin-card{
  border: 1px solid white;
  border-radius: 16px;
  background-color: #183153;
  opacity: 0.8;
  color: white;
  padding: 10px 20px;
}
.price-label{
  //border-radius: 12px;
  padding: 8px 10px;
  background-color: transparent;
  display: inline-block;
  border-bottom: 1px solid #435772;
  border-top: 1px solid #435772;
  &.light{
    //background-color:#435772 ;
    color:#020202;
    &.selected-filter{
      //border: 1px solid white;
      box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.62);
      -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.62);
      -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.62);
    }
  }
  &.dark{
    //background-color:#435772 ;
    color:#f2f2f2;
    &.selected-filter{
      //border: 1px solid white;
      box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.62);
      -webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.62);
      -moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.62);
    }
  }

}

.info-dot{
  border-radius: 15px;
  border: 2px solid;
  width: 30px;
  height: 30px;
  margin-left: 4px;
  padding: 3px;
  &.partial{
    background-color: #C1ECFD;
  }
  &.single{
    background-color: #FDF493;
  }
}

.multi-container{
  //border: 1px solid darkgray;
  //background-color: #dddddd;
  width: 100%;
  padding: 10px;
}
.mobile-info{
  display: none;
}
.desk-info{
  display: block;
}
table {

  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;


  .hidden-column{
   //display: block;
  }

  .single{
    background-color: #FDF493;
    color: black;
  }
  .partial{
    background-color: #C1ECFD;
    color: black;
  }


}
.dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: inherit;
  &.run{
    background-color: green;
  }
  &.stop{
    background-color: red;
  }
}
td, th {
  text-align: left;
  padding: 8px;
  .label-custom{
    width:10px;
    padding-top: 6px;
    margin-top: -25px;
    height: 10px;
  }
  .filter-dash{
    max-width: 80px;
      &.min{
        max-width:48px;
      }
    &.tot{
      max-width: 100px;
    }
  }
  .radio-dash{
    margin-right: 5px;
    &.buy{
      color: green;
    }
    &.sell{
      color: red;
    }
  }

  .status-icon{
    margin-top: 18px;
    border-radius: 16px;
    &.play{
      background-color: green;
    }
    &.pause{
      background-color: black;
    }
  }

}




input[type="radio"] {
    //position: absolute;
    opacity: 0;
  //display: none;
}

input[type="radio"] + path {
  display: block;
  margin-top: -24px;
}

input + svg {
  cursor: pointer;
}

input[class="all"]:hover + svg,
input[class="all"]:checked + svg,
input[class="all"]:focus + svg {
  fill: rgb(0, 109, 217);
}
@media screen and (max-width: 600px) {
  .table {

  }
  .hidden-column{
    display: none !important;
  }
  .filter-dash{
    max-width: 60px !important;
  }
}
@media screen and (max-width: 414px) {

  .price-label {
    text-align: center;
    display: block;
  }
  .desk-info {
    display: none;
  }
  .mobile-info {
    display: block;

    .carousel-item {
      text-align: center;
      min-height: 80px;
      &.stat{
        min-height: 40px;
      }
      label{
        text-transform: uppercase;
      }
    }
    .carousel-control-next-icon {
      &.light{
        background-image: url("src/assets/icons/arrow-circle-right-solid.svg");
      }
      &.top{
        top:25px
      }
    }
    .carousel-control-prev-icon {
      &.light{
        background-image: url("src/assets/icons/arrow-circle-left-solid.svg");
      }
      &.top{
        top:25px
      }
    }
  }
  table {
    #filter-pair{
      max-width: 156px !important;
    }

  }
}
