
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  .hidden-column{
   //display: block;
  }
}
.dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: inherit;
  &.run{
    background-color: green;
  }
  &.stop{
    background-color: red;
  }
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@media screen and (max-width: 600px) {
  .table {
  }
  .hidden-column{
    display: none !important;
  }
}
