
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  .hidden-column{
   //display: block;
  }
}
.dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: inherit;
  &.run{
    background-color: green;
  }
  &.stop{
    background-color: red;
  }
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  .label-custom{
    width:10px;
    padding-top: 6px;
    margin-top: -25px;
    height: 10px;
  }
  .filter-dash{
    max-width: 80px;
      &.min{
        max-width:48px;
      }
  }
  .radio-dash{
    margin-right: 5px;
    &.buy{
      color: green;
    }
    &.sell{
      color: red;
    }
  }

  .status-icon{
    margin-top: 18px;
    border-radius: 16px;
    &.play{
      background-color: green;
    }
    &.pause{
      background-color: black;
    }
  }

}

tr:nth-child(even) {
  background-color: #dddddd;
}
input[type="radio"] {
    //position: absolute;
    opacity: 0;
  //display: none;
}

input[type="radio"] + path {
  display: block;
  margin-top: -24px;
}

input + svg {
  cursor: pointer;
}

input[class="all"]:hover + svg,
input[class="all"]:checked + svg,
input[class="all"]:focus + svg {
  fill: rgb(0, 109, 217);
}
@media screen and (max-width: 600px) {
  .table {

  }
  .hidden-column{
    display: none !important;
  }
  .filter-dash{
    max-width: 60px !important;
  }
}
