
.strategies-container {

  max-width: 60%;
  margin-top: 35px;


  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }




}
.custom-slider{
  .ngx-slider{
    &.ngx-slider-pointer{
      width: 22px !important;
      height: 22px !important;
      background-color: #183153 !important;
      opacity:0.8;
    }
  }
}





