<h1 class="sub-header">Strategies</h1>

  <div class="strategies-container ">
    <form [formGroup]="strategiesForm" (ngSubmit)="openConfirmModal()" >
      <div class="row">
        <div class="col-sm-3 form-group">
          <label for="strategy-name">Strategy Name</label>
        </div>
        <div class="col-sm-9 form-group">
          <input formControlName="strategy_name" class="form-control" type="text"  id="strategy-name">
        </div>
        <div class="col-sm-3 form-group">
          <label for="select-pairs">Seleziona Pairs</label>
        </div>
        <div class="col-sm-9 form-group">
          <select formControlName="strategy_pairs" class="form-control" id="select-pairs">
            <option value="eth">BTC/ETH</option>
            <option value="sol">BTC/SOL</option>
            <option value="bnb">BTC/BNB</option>
          </select>
        </div>
        <div class="col-sm-3 form-group">
          <label for="buy-price">Buy Price</label>
        </div>
        <div class="col-sm-9 form-group">
          <input formControlName="strategy_buy_price" class="form-control" type="text" id="buy-price">
        </div>
        <div class="col-sm-3 form-group">
          <label for="sell-price">Sell Price</label>
        </div>
        <div class="col-sm-9 form-group">
          <input formControlName="strategy_buy_price" class="form-control" type="text" id="sell-price">
        </div>
        <div class="col-sm-3 form-group">
        </div>
        <div class="col-sm-9 form-group">
          <button class="btn start-btn float-right" >START</button>
        </div>
      </div>

    </form>

  </div>
  <modal #confirmModal>
    <div class="app-modal-header">
      <h3>Confirm Action</h3>
    </div>
    <div class="app-modal-body text-center">
      <h5></h5>
      <p>You are starting "Strategy 1" with current setting</p>
      <p>Buy Price: 0.00005 BTC </p>
      <p>Sell Price: 0.000051 BTC </p>
      <h3>PLEASE CONFIRM</h3>
      <button class="btn btn-danger float-left" (click)="close()">DECLINE</button>
      <button class="btn start-btn float-right" (click)="close()">CONFIRM</button>
    </div>
  </modal>

