.site-wrapper{
  .alert-wrapper{
    position: fixed;
    top: 70px;
    right: 15px;
    max-width: 400px;
    z-index:1052;
    .alert{
      margin-right: 16px;
    }
  }

  height: 100%;
  display: flex;
  flex-direction: column;
  .navbar-crypto{
    z-index:1;
    background-color: #F49419;

    a{
      color: white;
    }
    .mobile-menu{
      background: #F49419;

    }
  }
  main.main-content{
    flex: 1;
    overflow: auto;
    background-color: #f2f2f2;
    .side-menu{
      //margin-top:20px;
      height: 100%;
      background-color: #183153;
      opacity: 0.8;
      position: fixed;
      top: 0;
      left: 0;
      padding-top: 56px;
      z-index:0;
      .profile-img{
        margin-top: 30px;
        text-align: center;
        img{
          max-width: 155px;
          border: 1px solid white;
          border-radius: 60%;
        }
      }
      .nav{

        margin-top: 25px;
        .nav-link{

          span{
            color:#fff;
            text-transform: uppercase;
            vertical-align: text-top;
          }
        }
      }
    }
  }
  .panel-side{
    margin-left: 16.666667%;
  }

  footer{
    color: white;
    min-height: 60px;
  }

  .start-btn{
    background-color: #183153;
    opacity: 0.8;
  }
}
@media screen and (max-width: 512px) {
 .site-wrapper{
   .panel-side {
     margin-left: 0%;
   }
 }
  .mobile-menu{
    background: #183153 !important;
    margin-left: -16px;
    margin-bottom: -8px;
    margin-right: -16px;
    opacity: 0.8;
    .balance{
      text-align: center;
      padding-top: 15px;
    }
  }
}
