<div class="site-wrapper">
  <header class="navbar-crypto">
    <nav class="navbar  navbar-expand-md">
      <a class="navbar-brand" href="#">Ciao <span class="text-capitalize">{{user}} </span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><img alt="" width="24" src="assets/icons/bars-solid.svg"></span>
      </button>
      <div class="collapse navbar-collapse mobile-menu" id="navbarCollapse" style="justify-content: flex-end">
        <div class="pr-3 balance" style="color: #f2f2f2"><strong>ULTIMO AGGIORNAMENTO:</strong> {{parseDate(updatedAt)}}  |  <strong>BILANCIO:</strong> {{actionService.balanceBtc}} BTC | <strong>TASSE:</strong> {{calculateFees(actionService.balanceBtc)}}</div>
        <div class="d-sm-block d-md-none">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link mobile" data-target=".navbar-collapse.show" data-toggle="collapse" [routerLink]="['dashboard']"><img width="22" src="assets/icons/tachometer-alt-solid.svg"><span>  Riepilogo</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link mobile" data-target=".navbar-collapse.show" data-toggle="collapse" [routerLink]="['strategies']"><img width="22" src="assets/icons/tasks-solid.svg"> <span>  Strategie</span></a>
            </li>
            <li class="nav-item" >
              <a class="nav-link mobile" data-target=".navbar-collapse.show" data-toggle="collapse" [routerLink]="['settings']"><img width="22" src="assets/icons/folder-open-solid.svg"> <span>  Opzioni</span></a>
            </li>
          </ul>
        </div>
        <button class="btn btn-lg" (click)="authService.logout()">
          <span>
         <img src="../../../assets/icons/sign-out-alt-solid.svg" width="24" alt="logout">
          </span>
        </button>
      </div>
    </nav>
  </header>
  <main role="main" class="main-content container-fluid">
    <div class="row">
      <div class="d-none d-sm-block col-sm-2 side-menu" >
        <div class="profile-img">
          <img src="assets/bitcoin-brands.svg">
        </div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['dashboard']"><img width="22" src="assets/icons/tachometer-alt-solid.svg"><span>  Riepilogo</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['strategies']"><img width="22" src="assets/icons/tasks-solid.svg"> <span>  Strategie</span></a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" [routerLink]="['indicators']"><img width="22" src="assets/icons/chart-line-solid.svg"> <span>  Indicator</span></a>-->
<!--          </li>-->
          <li class="nav-item" *ngIf="authService.role == 'admin'">
            <a class="nav-link" [routerLink]="['settings']"><img width="22" src="assets/icons/folder-open-solid.svg"> <span>  Opzioni</span></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-10 panel-side">
        <router-outlet></router-outlet>
      </div>
    </div>

  </main>
<!--  <footer class="footer bg-dark">-->
<!--    <div class="container">-->
<!--      <span>Sticky footer content here.</span>-->
<!--    </div>-->
<!--  </footer>-->
</div>
