.login-wrapper{
  .form-signin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    .logo-back{
      background-color: white;
      border-radius: 40px;
    }
    .login-btn{
      color: white;
      background-color: #435772;
      border-color: #435772;
      opacity: 0.8;
      font-weight: bold;
    }
  }
}
