/* You can add global styles to this file, and also import other style files */
html, body{
  height: 100%;
  margin: 0;
}

.sub-header{
  margin-top: 20px;
  padding: 5px;
  border-bottom: 1px solid #727272;
}
.pointer{
  cursor: pointer;
}
