/* You can add global styles to this file, and also import other style files */
html, body{
  height: 100%;
  margin: 0;
}

.sub-header{
  margin-top: 20px;
  padding: 5px;
  border-bottom: 1px solid #727272;
}
.pointer{
  cursor: pointer;
}
.start-btn{
  background-color: #183153 !important;
  opacity: 0.8;
  color:white !important;
}
.stop-btn{

}
.alert-wrapper{
  position: fixed;
  top: 70px;
  right: 15px;
  max-width: 400px;
  z-index:1052;
  .alert{
    margin-right: 16px;
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
