/* You can add global styles to this file, and also import other style files */
html, body{
  height: 100%;
  margin: 0;
  width: 100%;
}
label{
  letter-spacing: 0.5px;
}
.sub-header{
  margin-top: 20px;
  padding: 5px;
  border-bottom: 1px solid #727272;
  &.custom{
    margin-top: 14px;
  }
}
.pointer{
  cursor: pointer;
}
.start-btn{
  //background-color: #183153 !important;
  //opacity: 0.8;
  color:white !important;
}
.stop-btn{

}
.alert-wrapper{
  position: fixed;
  top: 70px;
  right: 15px;
  max-width: 400px;
  z-index:1052;
  .alert{
    margin-right: 16px;
  }
}
.space-btwn{
  justify-content: space-between;
}

.dark {
  .modal{
    .modal-header{
      span{
        color: white;
      }
    }
    .modal-content{
      background-color: #2A2E34 !important;
      color: #ddd !important;
    }
    .modal-footer{
      border-top: none !important
    }
  }
  .multi-container{
    background-color: transparent;
    border:none;
  }
  .start-btn{
    background-color: #435772;
  }
  table{
    tr:nth-child(even) {
      background-color: #2A2E34 ;
      color: #ddd ;
    }
    td,th{
      border: 1px solid #2A2E34;
    }
  }
  .form-control {
    background-color: #2A2E34 !important;
    color: white !important;
  }
  //input[type=text]{
  //  background-color: #2A2E34 !important;
  //  color: white !important;
  //}


}

.light{
  .start-btn{
    background-color: #435772;
  }

  .multi-container{
    //background-color: #dddddd;
    border-top: 1px solid darkgray;
  }
  table{
    tr:nth-child(even) {
      background-color: #e7eaef;
    }
    td,th{
      border: 1px solid #dddddd;
    }
  }
}
.w-20{
  width: 20% !important;
}
.w-40{
  width: 40% !important;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';



/*
 * Variables
 */

:root {
  --card-padding: 10px;
  --card-height: 74px;
  --card-skeleton: linear-gradient(transparent var(--card-height), transparent 0);

  --desc-line-height: 18px;
  --desc-line-skeleton: linear-gradient(lightgrey var(--desc-line-height), transparent 0);
  --desc-line-1-width:200px;
  --desc-line-1-position: var(--card-padding) 5px;
  --desc-line-2-width:180px;
  --desc-line-2-position: var(--card-padding) 45px;

  --blur-width: 160px;
  --blur-size: var(--blur-width) calc(var(--card-height) );
}

/*
 * Card Skeleton for Loading
 */

.card-s {
  background-color: transparent;
  width: 240px; //demo
  height: var(--card-height);

  &:empty::after {
    content:"";
    display:block;
    width: 100%;
    height: 100%;
    //border-radius:6px;
    //box-shadow: 0 10px 45px rgba(0,0,0, .1);

    background-image:
      linear-gradient(
          90deg,
          rgba(lightgrey, 0) 0,
          rgba(lightgrey, .8) 50%,
          rgba(lightgrey, 0) 100%
      ),                          //animation blur
      //var(--title-skeleton),      //title
      var(--desc-line-skeleton),  //desc1
      var(--desc-line-skeleton),  //desc2
      //var(--avatar-skeleton),     //avatar
      //var(--footer-skeleton),     //footer bar
      var(--card-skeleton)        //card
  ;

    background-size:
      var(--blur-size),
      //var(--title-width) var(--title-height),
      var(--desc-line-1-width) var(--desc-line-height),
      var(--desc-line-2-width) var(--desc-line-height),
      //var(--avatar-size) var(--avatar-size),
      //100% var(--footer-height),
      100% 100%
  ;

    background-position:
      -150% 0,                      //animation
      //var(--title-position),        //title
      var(--desc-line-1-position),  //desc1
      var(--desc-line-2-position),  //desc2
      //var(--avatar-position),       //avatar
      //var(--footer-position),       //footer bar
      0 0                           //card
  ;

    background-repeat: no-repeat;
    animation: loading 1.5s infinite;
  }
}

@keyframes loading {
  to {
    background-position:
      350% 0,
      //var(--title-position),
      var(--desc-line-1-position),
      var(--desc-line-2-position),
      //var(--avatar-position),
      //var(--footer-position),
      0 0
  ;
  }
}
